<div align="center" style="text-align: center;">
  <h2 style="border-bottom: none">Hello there! 👋 I'm {{name}}</h2>
  <hr />
  <p>Welcome to my github page! I'm a <b>{{role}}</b> from {{location}}!</p>
  <br />
  <h3>Tools that I use</h3>
    {{#stack}}
      <img alt="{{title}}" src="{{img}}"/>
    {{/stack}}
  <br />
  <br />
  <h3>You can find me at</h3>
    {{#contact}}
      <a href="{{url}}">
        <img alt="{{title}}" src="{{img}}"/>
      </a>
    {{/contact}}
  <hr />
  <small><em>Last updated at:</em></small>
  <br />
  <small><b>{{updatedAt}}</b></small>
</div>